@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body{
    font-family: 'Sriracha', cursive;
}

.tableWidth{
    width: 100%;
}

.tableBorder{
    border: 1px solid darkblue;
}

.th1Table2{
    background-color: aquamarine;
    color: aliceblue;
}
.th2Table2{
    background-color: deeppink;
    color: darkblue;
}
.td1Table2{
    background-color: aquamarine;
    opacity: 0.4;
}
.td2Table2{
    background-color: deeppink;
    opacity: 0.4;
}